In [1]:
# we'll need this for manipulating the csv file
import pandas as pd
import numpy as np

Let's import the csv file from: https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv
it comes from this source: https://data.gov.ie/dataset/knock-airport-hourly-data/resource/d0aaf256-6854-4447-90bf-944b09105e40

In [2]:
# read in the data from the csv file, remember we must set URL equal to a string
url = "https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv" 

# We now pass in the URL string to the read_csv function, and set our dataframe df equal to the data
#there are lots of superfluous columns (to us, so give them temporary heading before we remove them)
names = ["date","extra1","rain","extra2","temp","extra5","wetb","dewpt","vappr","rhum","msl","extra3","extra4","wdsp","wddir","ww","w","sun","vis","clht","clamt","cloud_amount"]
df = pd.read_csv(url, header=None,names=names,skiprows=24)
#just to get a view of that data
print(f"{df.head()}\n")

                date  extra1 rain  extra2  temp  extra5  wetb  dewpt  vappr  \
0  10-apr-1996 14:00       0  0.0       0  11.5       0   8.1    3.9    0.0
1  31-jul-1996 08:00       0  0.0       0  11.5       0  11.1   10.7    0.0
2  31-jul-1996 09:00       0  0.0       0  11.6       0  10.7    9.8    0.0
3  31-jul-1996 10:00       0  0.0       0  12.9       0  11.3    9.8    0.0
4  31-jul-1996 11:00       0  0.0       0  14.5       0  10.8    7.0    0.0

   rhum  ... extra4  wdsp wddir  ww   w  sun    vis  clht clamt cloud_amount
0     0  ...      0     0     0  25  81  0.0  35000    32     5          NaN
1     0  ...      0     0     0  25  82  0.0  40000    45     5          NaN
2     0  ...      0     0     0  80  81  0.0   8000    32     7          NaN
3     0  ...      0     0     0  25  82  0.0  28000    35     6          NaN
4     0  ...      0     0     0   2  11  0.0  40000    40     6          NaN

[5 rows x 22 columns]

/tmp/ipykernel_42853/742227108.py:7: DtypeWarning: Columns (2,10,12,14,15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, header=None,names=names,skiprows=24)

In [3]:
headers = df.columns.tolist()
print(f"{headers}\n")

['date', 'extra1', 'rain', 'extra2', 'temp', 'extra5', 'wetb', 'dewpt', 'vappr', 'rhum', 'msl', 'extra3', 'extra4', 'wdsp', 'wddir', 'ww', 'w', 'sun', 'vis', 'clht', 'clamt', 'cloud_amount']

In [4]:
drop_col_list = ['extra1', 'rain', 'extra2', 'extra5', 'wetb', 'dewpt', 'vappr', 'rhum', 'msl', 'extra3', 'extra4', 'wdsp', 'wddir', 'ww', 'w', 'sun', 'vis', 'clht', 'clamt', 'cloud_amount']
df.drop(columns=drop_col_list, inplace=True)

headers = df.columns.tolist()
print(f"{headers}\n")
print(f"{df.head(20)}\n")
df.to_csv("knock_airport_data.csv")

['date', 'temp']

                 date  temp
0   10-apr-1996 14:00  11.5
1   31-jul-1996 08:00  11.5
2   31-jul-1996 09:00  11.6
3   31-jul-1996 10:00  12.9
4   31-jul-1996 11:00  14.5
5   31-jul-1996 12:00  14.4
6   31-jul-1996 13:00  14.9
7   31-jul-1996 14:00  13.9
8   31-jul-1996 15:00  13.2
9   31-jul-1996 16:00  15.1
10  31-jul-1996 17:00  11.6
11  31-jul-1996 18:00  13.3
12  31-jul-1996 19:00  12.7
13  31-jul-1996 20:00  11.5
14  31-jul-1996 21:00  10.9
15  31-jul-1996 22:00  10.8
16  31-jul-1996 23:00   9.6
17  01-aug-1996 00:00   9.7
18  01-aug-1996 01:00   9.1
19  01-aug-1996 02:00  10.0

In [ ]:
# Calculate the mean temperature
mean_temp=np.average(df["temp"])
print(f"The average mean temperature is: {round(mean_temp,2)} degrees celsius.")

The average meant temperature is: 8.8 degrees celsius.